body {
  background: linear-gradient(to bottom right, rgba(230, 240, 255, 0.85), rgba(255, 255, 255, 0.9)),
              url('assets/airport-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}




.card {
  border: none;
}
